name: Build and Release to ECR

on:
  pull_request:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build and release'
        required: true
        default: 'master'

env:
  IMAGE_NAME: ewx-worker-node
  AWS_REGION: us-east-1

jobs:
  build-and-push:
    runs-on: ewf-runner-docker
    timeout-minutes: 5
    steps:
      - name: Set branch
        id: set_branch
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "BRANCH=${{ github.event.inputs.branch }}" >> $GITHUB_OUTPUT
          else
            echo "BRANCH=${{ github.head_ref }}" >> $GITHUB_OUTPUT
          fi
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.set_branch.outputs.BRANCH }}
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: ${{ env.AWS_REGION }}
          mask-aws-account-id: true
      - name: Log in to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile
          # platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/${{ env.IMAGE_NAME }}:${{ steps.set_branch.outputs.BRANCH }}
